/** Variables **/
html {
    /* Topbar */
    --topbar-height: 52px;
    --topbar-radius: 8px;
    --topbar-padding: 8px;
    --topbar-border-width: 2px;
    --topbar-gap: 8px;

    /* Radi */
    --border-radius: 8px;

    /* Gaps */
    --gap: 8px;

    /* body */
    --body-margin: 8px;

    /* Brand Colours */
    --brand-color: #fec224;
    --brand-text-color: #000;
    --brand-color-alt: #fff;
    --selector-color: #0060df;
    --selector-text-color: #fff;
}

@media (prefers-color-scheme: light) {
    html {
        /* Colours */
        --primary-color: #rgb(249, 249, 249);
        --secondary-color: #f2f2f2;
        --tertiary-color: #dedede;

        /* Text Colours */
        --primary-text-color: black;
        --secondary-text-color: black;
        --tertiary-text-color: black;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        /* Colours */
        --primary-color: #181818;
        --secondary-color: #212121;
        --tertiary-color: #303134;

        /* Text Colours */
        --primary-text-color: white;
        --secondary-text-color: white;
        --tertiary-text-color: white;
    }
}

/* Text Defaults */
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
p,
input {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}